table.editable-list {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1em;
}

table.editable-list tbody tr:nth-child(odd) {
    background-color: #f0f0f0;
}

table.editable-list th {
    text-align: left;
}

table.editable-list th, table.editable-list td {
    padding: 0.4em 1em;
}
